<header class="lesson-head">
	<h1>New Lessons</h1>
</header>

<section>
	<ul>
		<% @lessons.each do |lesson| %>
			<li><%=lesson.lesson_name %> - <%= lesson.lesson_number %> <%= link_to "Delete", lesson_path(lesson), method: :delete, data: { confirm: "Delete this lesson? "} %> </li>
		<% end %>
	</ul>
</section>
