.sign-up-page{
  height: 400px;
  background: image-url('sign_up.png') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.main-signUp{
  @include span-columns(10);
  .top-bar{
    @include span-columns(10);
    height: 75px;
    box-shadow: 2px 3px 2px black;
    background-color: black;
    opacity: 0.8;
  }
  h1{
    @include shift(.5);
    font-family: 'Days One', sans-serif;
    color: white;
    position: absolute;
    top: 20px;
  }
  form{
    @include span-columns(4.5);
    @include shift(2.8);
    font-family: 'PT Sans', sans-serif;
    background: white;
    height: 25%;
    border-radius: 2px;
    opacity: 0.8;
    position: relative;
    top: 250px;
    box-shadow: 2px 3px 2px #303030;
    padding-top: 40px;
    .all-inputs{
      @include shift(1);
      font-size: 20px;
      padding: 10px;
      .string.email{
        font-size: 20px;
        border-radius: 3px;
        margin-left: 10px;
      }
      .password{
        font-size: 20px;
        border-radius: 3px;
        margin-bottom: 3px;
      }
      #user_password{
        margin-left: 10px;
      }
      #user_password_confirmation{
        margin-left: 10px;
      }
    }
  }
  .links{
    @include span-columns(2);
    @include shift(8);
    position: absolute;
    top: 25px;
    color: white;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    .log-in{
      @include span-columns(4);
      display: inline;
      color: white;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 2px;
      text-align: center;
      padding: 5px 0;
    }
    .log-in:hover{
      background-color: #007A88;
    }
  }
  .btn{
    @include shift(6);
    margin-top: 5px;
    font-size: 15px;
    background-color: #FF585B;
    border-radius: 2px;
    box-shadow: 2px 3px 2px gray;
    color: white;
    border: none;
    padding: 10px 15px;
  }
  textarea:focus, input:focus{
    outline: 0;
  }
}
