.all-head{
  @include outer-container;
  @include span-columns(10);
  font-family: Open Sans, sans-serif;
  background-image: image-url("hallway.jpg");
  text-shadow: 2px 2px black;
  background-size: cover;
  height: 500px;
  color: black;
  h1{
    @include span-columns(5);
    font-size: 5em;
    position: relative;
    top: 210px;
    text-align: center;
    width: 100%;
  }
}
.all-list{
  @include outer-container;
  @include span-columns(4);
  @include shift(3.1);
  font-family: Open Sans, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #CCCDCD;
  background-color: #FAFAFA;
  text-decoration: none;
  .list-head{
    background-color: #E53935;
    color: #FAFAFA;
    height: 100px;
    border-bottom: 1px solid #CCCDCD;
    border-radius: 2px;
    h2{
      @include shift(.5);
      font-size: 45px;
      padding: 15px 0 0 10px;
    }
  }
  form{
    p{
      @include shift(3.5);
      margin-top:25px;
      margin-bottom: 15px;
      height: 40px;
      #search{
        @include span-columns(7);
        font-size: 20px;
        padding:5px 0;
        background-color: #F5F5F5;
        border-radius: 3px;
      }
      .search{
        font-size: 15px;
        background-color: black;
        border-radius: 2px;
        box-shadow: 2px 3px 2px gray;
        color: white;
        border: none;
        padding: 10px 15px;
      }
      textarea:focus, input:focus{
        outline: 0;
      }
    }
  }
  .list{
    list-style: none;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 20px;
    li{
      padding: 5px 0;
      font-size: 25px;
      border-bottom: 1px solid #f2f2f2;
      .lessons{
        @include shift(.5);
        text-decoration: none;
        color: black;
      }
      .delete-btn{
        @include shift(1.5);
        color: gray;
        font-size: 20px;
        :hover{
          opacity: 0.4;
        }

      }
    }
  }
}
