<!DOCTYPE html>
<html>
<head>
  <title>Teachingtool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section>
    <div class="main-nav">
      <nav>
        <ul>
          <li><a href="/lessons/index">All Lessons</a></li>
          <li><a href="/lessons/new">New Lesson</a></li>
          <li><a href="#">Place Holder</a></li>
          <li><a href="#">Place Holder</a></li>
        </ul>
      </nav>
    </div>
  </section>
<%= yield %>

</body>
</html>
