<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'application' %>
  <link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
